$color1: #000;
$color2: #fff;
$color3: #007BFF;
$color4: #f00;

$tablet: 1240px;

@mixin breakpoint($device) {
	@if ($device == 'tablet') {
		@media screen and (max-width: $tablet) {
      @content;
    }
	}
}

* { box-sizing: border-box; }

body {
  margin: 0;
  color: $color1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

%input-styles {
  border: 2px solid $color1;
  padding: 5px 10px;
  display: inline-block;
  background-color: transparent;
  color: $color1;
  font-size: 16px;
  flex-basis: 72%;

  &:focus {
    border: 2px solid $color3;
    outline: none;
  }

  @include breakpoint(tablet) {
    width: 100%;
  }
}

button {
  &:hover { cursor: pointer; }
}

.wrapper {
  width: 60%;
  min-width: 922px;
  margin: 30px auto;

  @include breakpoint(tablet) {
    width: 96%;
    min-width: auto;
  }
}

h1 {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

form > * { margin-bottom: 20px; }
form > *:last-child { margin-bottom: 0; }

.blog-container {
  display: flex;
  align-items: center;
  column-gap: 4%;

  @include breakpoint(tablet) {
    display: block;
  }

  div {
    display: flex;
    align-items: center;
    column-gap: 4%;
    flex-basis: 70%;

    @include breakpoint(tablet) {
      margin-bottom: 15px;
      display: block;
    }

    label {
      display: inline-flex;
      flex-basis: 24%;

      @include breakpoint(tablet) {
        margin-bottom: 5px
      }
    }

    input {
      @extend %input-styles;
    }

    textarea {
      @extend %input-styles;
    }
  }
}

.submit-button-container {
  text-align: center;

  button {
    padding: 7px 16px;
    border: 2px solid $color3;
    border-radius: 5px;
    margin: 0 auto;
    display: inline-block;
    background-color: transparent;
    color: $color3;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    transition: background-color ease-in 0.4s, color ease-in 0.4s;

    &:hover {
      background-color: $color3;
      color: $color2;
    }
  }
}

.error {
  flex-basis: 26%;
  color: $color4;
  font-size: 14px;
}

.display-none { display: none; }